<div class="col-sm-11 col-sm-offset-1">
	<h3 class="page-header">关于</h3>
	<div class="col-sm-11 add-menu-item-block">
    <h3>用户资料</h3>
    <div ng-repeat="(key,profile) in about">
    <form name="menuForm">
        <div class="form-group col-sm-5">
            <label>用户名称：</label>
            <input class="form-control" type="text" ng-model="profile.Name">
        </div>
        <div class="form-group col-sm-5">
        	<label>用户地址：</label>
            <input class="form-control" type="text" ng-model="profile.Address">
        </div>
        <div class="form-group col-sm-5">
        	<label>用户电话： </label>
            <input class="form-control" type="text" ng-model="profile.Telephone">
        </div>
        <div class="form-group col-sm-5">
            <label>公司信息留言:</label>
            <textarea class="form-control" type="text" rows="3" ng-model="profile.Companyinfo"></textarea>
        </div>
        <div class="form-group col-sm-5">
            <label>服务标准留言:</label>
            <textarea class="form-control" type="text" rows="3" ng-model="profile.Foodquality"></textarea>
        </div>
        <div class="form-group col-sm-5">
        	<label>工作时间: </label>
            <label>周一: 开始时间</label>
            <input class="form-control" type="text" ng-model="profile.Hours.Monday.from">
            <label>周一: 结束时间</label>
            <input class="form-control" type="text" ng-model="profile.Hours.Monday.to">
            <label>周二: 开始时间</label>
            <input class="form-control" type="text" ng-model="profile.Hours.Tuesday.from">
            <label>周二: 结束时间</label>
            <input class="form-control" type="text" ng-model="profile.Hours.Tuesday.to">
            <label>周三: 开始时间</label>
            <input class="form-control" type="text" ng-model="profile.Hours.Wednesday.from">
            <label>周三: 结束时间</label>
            <input class="form-control" type="text" ng-model="profile.Hours.Wednesday.to">
            <label>周四: 开始时间</label>
            <input class="form-control" type="text" ng-model="profile.Hours.Thursday.from">
            <label>周四: 结束时间</label>
            <input class="form-control" type="text" ng-model="profile.Hours.Thursday.to">
            <label>周五: 开始时间</label>
            <input class="form-control" type="text" ng-model="profile.Hours.Friday.from">
            <label>周五: 结束时间</label>
            <input class="form-control" type="text" ng-model="profile.Hours.Friday.to">
            <label>周六: 开始时间</label>
            <input class="form-control" type="text" ng-model="profile.Hours.Saturday.from">
            <label>周六: 结束时间</label>
            <input class="form-control" type="text" ng-model="profile.Hours.Saturday.to">
            <label>周日: 开始时间</label>
            <input class="form-control" type="text" ng-model="profile.Hours.Sunday.from">
            <label>周日: 结束时间</label>
            <input class="form-control" type="text" ng-model="profile.Hours.Sunday.to">
        </div>
     </form>
    <p><a class="btn btn-success col-sm-4" data-toggle="modal" data-target="#myModal" ng-href="" ng-click="updateProfile(key, this.profile)">更新用户资料</a></p>
    </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">用户资料更新</h4>
            </div>
            <div class="modal-body">
                    <p>您的请求已经被处理了!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>