    <div class="col-sm-11 col-sm-offset-1 main">
    <button class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#myModal">增加类别</button>
    <h3 class="page-header">类别 {{numofCateg}}/4</h3>
    <div class="row">
        <div class="col-xs-12 col-md-3" ng-repeat="(key,categ) in categories">
            <a href="" class="thumbnail category-thumbnail" data-toggle="modal" data-target="#myModal1" ng-click="saveCateg(key, this.categ)">
                <button type="button" class="close" aria-hidden="true" ng-click="deleteCateg(key)">&times;</button>
                <img ng-src="data:{{categ.image.filetype}};base64,{{categ.image.base64}}" alt=""  style="max-height: 175px">
                <h5>{{categ.name}}</h5>
            </a>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">增加类别</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>类别名称</label>
                    <input class="form-control" ng-model="categoryName" placeholder="Category Name">
                </div>
                <div class="form-group">
                    <label>类别照片 (少于 100KB, 50KB 推荐大小)</label>
                    <input type="file" ng-model="image" name="file" base-sixty-four-input>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="addCategory()" ng-disabled="canUploadCateg()" data-dismiss="modal">增加类别</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">更新类别</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>类别名称</label>
                    <input class="form-control" ng-model="defaultCateg.name">
                </div>
                <div class="form-group">
                    <label>类别图片:</label>
                    <img ng-src="data:{{defaultCateg.image.filetype}};base64,{{defaultCateg.image.base64}}" alt=""  style="max-height: 175px">
                </div>
                <div class="form-group">
                    <label>更新类别图片 (少于 100KB, 50KB 推荐大小)</label>
                    <input type="file" ng-model="defaultCateg.image" name="file" base-sixty-four-input>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="updateCategory()" ng-disabled="canUpdateCateg()" data-dismiss="modal1">更新类别</button>
            </div>
        </div>
    </div>
</div>